body {
    font-family: 'Arial', sans-serif;
  }
  
  .navbar {
    background-color: #3498db;
    color: #fff;
  }
  .navbar-brand {
    font-weight: bold; /* Make navbar brand text bold */
  }
  
  .navbar-nav .nav-link {
    color: #fff !important; /* Set nav link text color to white */
       }
  
  /* Navbar toggle button color */
  .navbar-toggler-icon {
    background-color: #fff;
  }
  .navbar-nav .nav-link:hover {
    color: #645e5e !important; /* Set nav link text color to white */
       }
  
  .product-container {
    max-width: 800px;
    margin: 50px auto;
  }
  
  .product-image {
    max-width: 100%;
    height: auto;
    transition: filter 0.3s ease-in-out;
  }
  
  .color-option {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    margin-right: 10px;
  }
  
  .add-to-cart {
    background-color: #2ecc71;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
  
  .like-icon {
    color: #e74c3c;
    cursor: pointer;
  }
  
  .home-button {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
  
  .recommended-images {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  /* Add hover effect to the Add to Cart button */
.add-to-cart:hover {
    background-color: #27ae40; /* Change color on hover */
  }
  
  /* Add hover effect to the size buttons */
  button {
    background-color: #3498db; /* Default button color */
    color: #fff;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Add transition for smooth effect */
  }
  
  button:hover {
    background-color: #0c598d; /* Change color on hover */
  }
  
  
  /* Additional styling for responsiveness */
  @media (max-width: 768px) {
    .navbar-toggler {
      color: #fff;
      border: 1px solid #fff;
    }
  }
  